@page "/add-help-desk-ticketherarchy"
@layout MainLayout
@inherits Testauth.Pages.AddHelpDeskTicketherarchyComponent

@using Radzen
@using Radzen.Blazor
@using Testauth.Models.Authenticationconn
@using Testauth.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<AddHelpDeskTicketherarchy> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@helpdeskticket" TItem="Testauth.Models.Authenticationconn.HelpDeskTicket" Visible="@(helpdeskticket != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketGUID" style="width: 100%" Text="@L["TicketGUIDLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(helpdeskticket.TicketGUID)" Name="TicketGUID">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketStatus" style="width: 100%" Text="@L["TicketStatusLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Count="@getHelpDeskStatusesForTicketStatusCount" Data="@getHelpDeskStatusesForTicketStatusResult" Placeholder="@L["TicketStatus.Placeholder"]" ShowSearch="false" style="width: 100%" TextProperty="TicketStatusDesc" @bind-Value="@(helpdeskticket.TicketStatus)" ValueProperty="TicketStatus" Name="TicketStatus" LoadData="@TicketStatusLoadData">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketDate" style="width: 100%" Text="@L["TicketDateLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker style="width: 100%" @bind-Value="@(helpdeskticket.TicketDate)" Name="TicketDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketDescription" style="width: 100%" Text="@L["TicketDescriptionLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(helpdeskticket.TicketDescription)" Name="TicketDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TicketDescription" style="position: absolute" Text="@L["TicketDescriptionRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketRequesterUser" style="width: 100%" Text="@L["TicketRequesterUserLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(helpdeskticket.TicketRequesterUser)" Name="TicketRequesterUser">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketRequesterEmail" style="width: 100%" Text="@L["TicketRequesterEmailLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="display: block; width: 100%" @bind-Value="@(helpdeskticket.TicketRequesterEmail)" Name="TicketRequesterEmail">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TicketRequesterEmail" style="position: absolute" Text="@L["TicketRequesterEmailRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="locationID" style="width: 100%" Text="@L["locationIDLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Count="@getLocationListsForlocationIDCount" Data="@getLocationListsForlocationIDResult" Placeholder="@L["locationID.Placeholder"]" ShowSearch="false" style="width: 100%" TextProperty="locationDesc" @bind-Value="@(helpdeskticket.locationID)" ValueProperty="locationID" Name="LocationID" LoadData="@LocationIdLoadData">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ServiceCatgID" style="width: 100%" Text="@L["ServiceCatgIDLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Count="@getServiceCatglistsForServiceCatgIDCount" Data="@getServiceCatglistsForServiceCatgIDResult" Placeholder="@L["ServiceCatgID.Placeholder"]" ShowSearch="false" style="width: 100%" TextProperty="ServiceCatgDesc" @bind-Value="@(helpdeskticket.ServiceCatgID)" ValueProperty="ServiceCatgID" Name="ServiceCatgID" LoadData="@ServiceCatgIdLoadData">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ServiceID" style="width: 100%" Text="@L["ServiceIDLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Count="@getServicesListsForServiceIDCount" Data="@getServicesListsForServiceIDResult" Placeholder="@L["ServiceID.Placeholder"]" ShowSearch="false" style="width: 100%" TextProperty="ServiceDesc" @bind-Value="@(helpdeskticket.ServiceID)" ValueProperty="ServiceID" Name="ServiceID" LoadData="@ServiceIdLoadData">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="assignTo" style="width: 100%" Text="@L["assignToLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(helpdeskticket.assignTo)" Name="AssignTo">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="AuditCC" style="width: 100%" Text="@L["AuditCCLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(helpdeskticket.AuditCC)" Name="AuditCC">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="@L["button1.Text"]">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["button2.Text"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
