@page "/add-help-desk-ticket-detail/{HelpDeskTicketId}"
@layout MainLayout
@inherits Testauth.Pages.AddHelpDeskTicketDetailComponent

@using Radzen
@using Radzen.Blazor
@using Testauth.Models.Authenticationconn
@using Testauth.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<AddHelpDeskTicketDetail> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@helpdeskticketdetail" TItem="Testauth.Models.Authenticationconn.HelpDeskTicketDetail" Visible="@(helpdeskticketdetail != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="HelpDeskTicketId" style="width: 100%" Text="@L["HelpDeskTicketIdLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Count="@getHelpDeskTicketsForHelpDeskTicketIdCount" Data="@getHelpDeskTicketsForHelpDeskTicketIdResult" Disabled="true" Placeholder="@L["HelpDeskTicketId.Placeholder"]" ShowSearch="false" style="display: block; width: 100%" TextProperty="TicketGUID" @bind-Value="@(helpdeskticketdetail.HelpDeskTicketId)" ValueProperty="Id" Name="HelpDeskTicketId" LoadData="@HelpDeskTicketIdLoadData">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="HelpDeskTicketId" DefaultValue="0" style="position: absolute" Text="@L["HelpDeskTicketIdRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketDetailDate" style="width: 100%" Text="@L["TicketDetailDateLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(helpdeskticketdetail.TicketDetailDate)" Name="TicketDetailDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TicketDescription" style="width: 100%" Text="@L["TicketDescriptionLabel.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(helpdeskticketdetail.TicketDescription)" Name="TicketDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TicketDescription" style="position: absolute" Text="@L["TicketDescriptionRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="@L["button1.Text"]">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["button2.Text"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
