@page "/add-service-catglist"
@layout MainLayout
@inherits Testauth.Pages.AddServiceCatglistComponent

@using Radzen
@using Radzen.Blazor
@using Testauth.Models.Authenticationconn
@using Testauth.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<AddServiceCatglist> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@servicecatglist" Visible="@(servicecatglist != null)" TItem="Testauth.Models.Authenticationconn.ServiceCatglist" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["ServiceCatgDescLabel.Text"]" Component="ServiceCatgDesc" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(servicecatglist.ServiceCatgDesc)" Name="ServiceCatgDesc">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["ServiceCatgDesc1Label.Text"]" Component="ServiceCatgDesc1" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(servicecatglist.ServiceCatgDesc1)" Name="ServiceCatgDesc1">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["button1.Text"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["button2.Text"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
