@page "/edit-help-desk-ticket-detail/{Id}"
@layout MainLayout
@inherits Testauth.Pages.EditHelpDeskTicketDetailComponent

@using Radzen
@using Radzen.Blazor
@using Testauth.Models.Authenticationconn
@using Testauth.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<EditHelpDeskTicketDetail> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="@L["closeLabel.Text"]" Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="@L["closeButton.Text"]" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="@L["label0.Text"]" Visible="@hasChanges">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="@L["button0.Text"]" Visible="@hasChanges" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="Testauth.Models.Authenticationconn.HelpDeskTicketDetail" Data="@helpdeskticketdetail" Visible="@(helpdeskticketdetail != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["HelpDeskTicketIdLabel.Text"]" Component="HelpDeskTicketId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getHelpDeskTicketsForHelpDeskTicketIdResult" TextProperty="TicketGUID" ValueProperty="Id" Placeholder="@L["HelpDeskTicketId.Placeholder"]" ShowSearch="false" Count="@getHelpDeskTicketsForHelpDeskTicketIdCount" @bind-Value="@(helpdeskticketdetail.HelpDeskTicketId)" style="display: block; width: 100%" SelectedValue="@getByHelpDeskTicketsForHelpDeskTicketIdResult" Name="HelpDeskTicketId" LoadData="@HelpDeskTicketIdLoadData">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="HelpDeskTicketId" Text="@L["HelpDeskTicketIdRequiredValidator.Text"]" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["TicketDetailDateLabel.Text"]" Component="TicketDetailDate" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(helpdeskticketdetail.TicketDetailDate)" Name="TicketDetailDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["TicketDescriptionLabel.Text"]" Component="TicketDescription" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(helpdeskticketdetail.TicketDescription)" Name="TicketDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TicketDescription" Text="@L["TicketDescriptionRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["button3.Text"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["button4.Text"]" Click="@Button4Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
